NEXT_PUBLIC_APP_URL=https://your-domain.vercel.app
KV_REST_API_URL=
KV_REST_API_TOKEN=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
